.vscode
.DS_Store
.terraform
.idea
!lib/**
__pycache__/
*.pyc
node_modules/
.env
.env.old
.env.shared
.env.anvil
.env.sepolia
cache/
smart_contracts/out/
smart_contracts/cache/
smart_contracts/broadcast/
smart_contracts/lib/automata-dcap-v3-attestation/lib/automata-on-chain-pccs/out/
smart_contracts/lib/automata-dcap-v3-attestation/lib/automata-on-chain-pccs/cache/
smart_contracts/lib/automata-dcap-v3-attestation/lib/automata-on-chain-pccs/broadcast/
dfl/node_server/.env
remote_attestation/target/
remote_attestation/methods/guest/target/
remote_attestation/out/
remote_attestation/broadcast/
remote_attestation/cache/
zk_inference/out/
zk_inference/single_query/
agent/downloads/
ollama-data/
data/evaluation/*.csv
data/evaluation/*.jsonl
