torch==2.8.0
onnx==1.22.0
onnxscript==0.7.1
cbor2==5.8.0
cryptography==46.0.7
pyhpke==0.6.4
ccf==7.0.6
pyscitt @ https://github.com/microsoft/scitt-ccf-ledger/archive/b6ebc0518b59795147538bcc0cc7f67079a82d63.tar.gz#subdirectory=pyscitt
