services:
  tee-inference:
    image: ${tee_inference_image}
    restart: unless-stopped
    volumes:
      - /var/run/dstack.sock:/var/run/dstack.sock
    ports:
      - "8080:8080"
    environment:
      DOCKER: phala
      DATASET_NAME: chestmnist
      ACCOUNT_ADDRESS: "${account_address}"
      RSA_PRIVATE_KEY: "$${RSA_PRIVATE_KEY}"
      RSA_PUBLIC_KEY: "$${RSA_PUBLIC_KEY}"
      RPC_URL: "${rpc_url}"
      KUBO_API: "${kubo_api_url}"
      KUBO_GATEWAY: "${kubo_gateway_url}"
      TEE_MODEL_DIR: /tmp/tee-inference/model
      TEE_JOB_DIR: /tmp/tee-inference/jobs
      CHESTMNIST_TEST_DATA: /app/data/chestmnist/test_data/test-data.npz
    tmpfs:
      - /tmp/tee-inference:size=1024m,mode=0700,uid=10001,gid=10001
